---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async () => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await response.json()) as PokemonListResponse;
  return results.map(({ name, url }) => ({
    params: { name },
    props: { url },
  }));
}) satisfies GetStaticPaths;
const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split("/").at(-2);
const audioSrc =
  "https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/1.ogg";
---

<MainLayout title="Algún Pokémon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex">
      <div>
        <button onclick="history.back()" class="text-amber-300 cursor-pointer"
          >Regresar</button
        >
        <Title>{name}</Title>
      </div>
      <button
        id="btn-favorite"
        class="ml-4 hover:animate-pulse"
        data-name={name}
        data-id={id}
      >
        <Icon name="heart-outline" size={50} style="color:#fd0004;" />
        <Icon
          name="heart-full"
          size={50}
          style="color:#fd0004;"
          class="hidden"
        />
      </button>
    </div>
    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>
<script>
  document.addEventListener("astro:page-load", () => {
    const btnFavorite = document.getElementById(
      "btn-favorite"
    ) as HTMLButtonElement;
    if (!btnFavorite) return;
    const name = btnFavorite.dataset.name;
    const id = btnFavorite.dataset.id;
  });
</script>
